{
  "openapi": "3.0.1",
  "info": {
    "title": "DCSA Track and Trace",
    "description": "Provides equipment actual milestones along with Vessel Events and Estimated Time of Arrival, following DCSA v2.2 standard",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://portal.api.msc.com/dpo/trackandtrace/v2.2"
    }
  ],
  "paths": {
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Find events by Carrier Booking Reference, Transport Document Reference (Bill of Lading) or Equipment Reference. The endpoint REQUIRES ONLY 1 of the 3 query parameters to be used",
        "description": "Find events by Carrier Booking Reference, Transport Document Reference (Bill of Lading) or Equipment Reference. The endpoint REQUIRES ONLY 1 of the 3 query parameters to be used",
        "operationId": "GET-events",
        "parameters": [
          {
            "name": "carrierBookingReference",
            "in": "query",
            "description": "A set of unique characters provided by carrier to identify a booking.\r\nSpecifying this filter will only return events related to this particular carrierBookingReference",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transportDocumentReference",
            "in": "query",
            "description": "A unique number reference allocated by the shipping line to the transport document and \r\nthe main number used for the tracking of the status of the shipment.\r\nSpecifying this filter will only return events related to this particular transportDocumentReference",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "equipmentReference",
            "in": "query",
            "description": "Will filter by the unique identifier for the equipment, which should follow the BIC ISO Container Identification Number where possible.\r\nSpecifying this filter will only return events related to this particular equipmentReference",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/"
                },
                "example": [
                  {
                    "eventType": "TRANSPORT",
                    "transportEventTypeCode": "ARRI",
                    "transportCall": {
                      "transportCallID": "CXXXXXXXXX",
                      "carrierServiceCode": null,
                      "exportVoyageNumber": null,
                      "importVoyageNumber": "1234W",
                      "unLocationCode": "CXXXX",
                      "facilityCode": null,
                      "facilityCodeListProvider": null,
                      "facilityTypeCode": "POTE",
                      "otherFacility": null,
                      "modeOfTransport": "VESSEL",
                      "vessel": {
                        "vesselIMONumber": "9687540",
                        "vesselName": "COCHRANE",
                        "vesselFlag": null,
                        "vesselCallSignNumber": null,
                        "vesselOperatorCarrierCode": null,
                        "vesselOperatorCarrierCodeList": null
                      }
                    },
                    "documentReferences": [
                      {
                        "documentReferenceType": "BKG",
                        "documentReferenceValue": "177123456789123"
                      },
                      {
                        "documentReferenceType": "TRD",
                        "documentReferenceValue": "MEDUXX123456"
                      }
                    ],
                    "description": "Estimated Time of Arrival",
                    "eventId": "EST2022-12-26T04:00:00:00-03:00",
                    "eventDateTime": "2022-12-26T04:00:00.0000000+00:00",
                    "eventClassifierCode": "EST",
                    "eventCreatedDateTime": "2022-12-26T04:00:00.0000000+00:00",
                    "references": []
                  },
                  {
                    "eventType": "EQUIPMENT",
                    "equipmentEventTypeCode": "LOAD",
                    "equipmentReference": "MSCU1234567",
                    "ISOEquipmentCode": "4310",
                    "emptyIndicatorCode": "LADEN",
                    "transportCall": {
                      "transportCallID": "KRPUS1234X",
                      "carrierServiceCode": null,
                      "exportVoyageNumber": "2246E",
                      "importVoyageNumber": null,
                      "unLocationCode": "KRPUS",
                      "facilityCode": "PNP",
                      "facilityCodeListProvider": "SMDG",
                      "facilityTypeCode": "POTE",
                      "otherFacility": null,
                      "modeOfTransport": "VESSEL",
                      "vessel": {
                        "vesselIMONumber": "9687540",
                        "vesselName": "COCHRANE",
                        "vesselFlag": null,
                        "vesselCallSignNumber": null,
                        "vesselOperatorCarrierCode": null,
                        "vesselOperatorCarrierCodeList": null
                      }
                    },
                    "documentReferences": [
                      {
                        "documentReferenceType": "BKG",
                        "documentReferenceValue": "177XXXXXXX12345"
                      },
                      {
                        "documentReferenceType": "TRD",
                        "documentReferenceValue": "MEDUXX123456"
                      }
                    ],
                    "eventLocation": {
                      "locationName": "BUSAN",
                      "latitude": null,
                      "longitude": null,
                      "unLocationCode": "KRPUS",
                      "facilityCode": "PNP",
                      "facilityCodeListProvider": "SMDG",
                      "address": null
                    },
                    "seals": [],
                    "description": "Full Intended Transshipment",
                    "eventId": "1076091772",
                    "eventDateTime": "2022-11-20T01:00:00.0000000+00:00",
                    "eventClassifierCode": "EST",
                    "eventCreatedDateTime": "2022-11-20T01:00:00.0000000+00:00",
                    "references": []
                  },
                  {
                    "eventType": "EQUIPMENT",
                    "equipmentEventTypeCode": "DISC",
                    "equipmentReference": "MSCU1234567",
                    "ISOEquipmentCode": "4310",
                    "emptyIndicatorCode": "LADEN",
                    "transportCall": {
                      "transportCallID": "KRPXXXX1234",
                      "carrierServiceCode": null,
                      "exportVoyageNumber": null,
                      "importVoyageNumber": "UK244A",
                      "unLocationCode": "KRPUS",
                      "facilityCode": "PNP",
                      "facilityCodeListProvider": "SMDG",
                      "facilityTypeCode": "POTE",
                      "otherFacility": null,
                      "modeOfTransport": "VESSEL",
                      "vessel": {
                        "vesselIMONumber": "9400289",
                        "vesselName": "NAVARINO",
                        "vesselFlag": null,
                        "vesselCallSignNumber": null,
                        "vesselOperatorCarrierCode": null,
                        "vesselOperatorCarrierCodeList": null
                      }
                    },
                    "documentReferences": [
                      {
                        "documentReferenceType": "BKG",
                        "documentReferenceValue": "177XXXXXXX12345"
                      },
                      {
                        "documentReferenceType": "TRD",
                        "documentReferenceValue": "MEDXXX123456"
                      }
                    ],
                    "eventLocation": {
                      "locationName": "BUSAN",
                      "latitude": null,
                      "longitude": null,
                      "unLocationCode": "KRPUS",
                      "facilityCode": "PNP",
                      "facilityCodeListProvider": "SMDG",
                      "address": null
                    },
                    "seals": [
                      {
                        "sealNumber": "FX12345678",
                        "sealSource": "CAR"
                      }
                    ],
                    "description": "Full Transshipment Discharged",
                    "eventId": "1078740398",
                    "eventDateTime": "2022-11-17T08:50:00.0000000+00:00",
                    "eventClassifierCode": "ACT",
                    "eventCreatedDateTime": "2022-11-17T08:50:00.0000000+00:00",
                    "references": []
                  },
                  {
                    "eventType": "TRANSPORT",
                    "transportEventTypeCode": "ARRI",
                    "transportCall": {
                      "transportCallID": "KRXXXXX123X",
                      "carrierServiceCode": null,
                      "exportVoyageNumber": null,
                      "importVoyageNumber": null,
                      "unLocationCode": "KRPUS",
                      "facilityCode": "PNP",
                      "facilityCodeListProvider": "SMDG",
                      "facilityTypeCode": "POTE",
                      "otherFacility": null,
                      "modeOfTransport": "VESSEL",
                      "vessel": {
                        "vesselIMONumber": "9400289",
                        "vesselName": "NAVARINO",
                        "vesselFlag": null,
                        "vesselCallSignNumber": null,
                        "vesselOperatorCarrierCode": null,
                        "vesselOperatorCarrierCodeList": null
                      }
                    },
                    "documentReferences": [
                      {
                        "documentReferenceType": "BKG",
                        "documentReferenceValue": "177XXXXXXX12345"
                      },
                      {
                        "documentReferenceType": "TRD",
                        "documentReferenceValue": "MEDXXX123456"
                      }
                    ],
                    "description": "Vessel Arrival",
                    "eventId": "ACT2022-11-17T04:00:00:00+09:00",
                    "eventDateTime": "2022-11-17T04:00:00.0000000+00:00",
                    "eventClassifierCode": "ACT",
                    "eventCreatedDateTime": "2022-11-17T04:00:00.0000000+00:00",
                    "references": []
                  },
                  {
                    "eventType": "TRANSPORT",
                    "transportEventTypeCode": "DEPA",
                    "transportCall": {
                      "transportCallID": "CXXXXXX123X",
                      "carrierServiceCode": null,
                      "exportVoyageNumber": null,
                      "importVoyageNumber": null,
                      "unLocationCode": "CNSHA",
                      "facilityCode": null,
                      "facilityCodeListProvider": null,
                      "facilityTypeCode": "POTE",
                      "otherFacility": null,
                      "modeOfTransport": "VESSEL",
                      "vessel": {
                        "vesselIMONumber": "9400289",
                        "vesselName": "NAVARINO",
                        "vesselFlag": null,
                        "vesselCallSignNumber": null,
                        "vesselOperatorCarrierCode": null,
                        "vesselOperatorCarrierCodeList": null
                      }
                    },
                    "documentReferences": [
                      {
                        "documentReferenceType": "BKG",
                        "documentReferenceValue": "177XXXXXXX12345"
                      },
                      {
                        "documentReferenceType": "TRD",
                        "documentReferenceValue": "MEDXXX123456"
                      }
                    ],
                    "description": "Vessel Departure",
                    "eventId": "ACT2022-11-10T08:00:00:00+00:00",
                    "eventDateTime": "2022-11-10T08:00:00.0000000+00:00",
                    "eventClassifierCode": "ACT",
                    "eventCreatedDateTime": "2022-11-10T08:00:00.0000000+00:00",
                    "references": []
                  },
                  {
                    "eventType": "EQUIPMENT",
                    "equipmentEventTypeCode": "LOAD",
                    "equipmentReference": "MSCU1234568",
                    "ISOEquipmentCode": "4310",
                    "emptyIndicatorCode": "LADEN",
                    "transportCall": {
                      "transportCallID": "CNXXXXX123X",
                      "carrierServiceCode": null,
                      "exportVoyageNumber": "UK123A",
                      "importVoyageNumber": null,
                      "unLocationCode": "CNSHA",
                      "facilityCode": null,
                      "facilityCodeListProvider": null,
                      "facilityTypeCode": "POTE",
                      "otherFacility": null,
                      "modeOfTransport": "VESSEL",
                      "vessel": {
                        "vesselIMONumber": "9400289",
                        "vesselName": "NAVARINO",
                        "vesselFlag": null,
                        "vesselCallSignNumber": null,
                        "vesselOperatorCarrierCode": null,
                        "vesselOperatorCarrierCodeList": null
                      }
                    },
                    "documentReferences": [
                      {
                        "documentReferenceType": "BKG",
                        "documentReferenceValue": "177XXXXXXX12345"
                      },
                      {
                        "documentReferenceType": "TRD",
                        "documentReferenceValue": "MEDXXX123456"
                      }
                    ],
                    "eventLocation": {
                      "locationName": "SHANGHAI",
                      "latitude": null,
                      "longitude": null,
                      "unLocationCode": "CNSHA",
                      "facilityCode": null,
                      "facilityCodeListProvider": null,
                      "address": null
                    },
                    "seals": [
                      {
                        "sealNumber": "FX12345678",
                        "sealSource": "CAR"
                      }
                    ],
                    "description": "Export Loaded on Vessel",
                    "eventId": "1075525830",
                    "eventDateTime": "2022-11-10T10:04:00.0000000+00:00",
                    "eventClassifierCode": "ACT",
                    "eventCreatedDateTime": "2022-11-10T10:04:00.0000000+00:00",
                    "references": []
                  },
                  {
                    "eventType": "EQUIPMENT",
                    "equipmentEventTypeCode": "GTIN",
                    "equipmentReference": "MSCU1234567",
                    "ISOEquipmentCode": "4310",
                    "emptyIndicatorCode": "LADEN",
                    "transportCall": {
                      "transportCallID": "CNSHATRB",
                      "carrierServiceCode": null,
                      "exportVoyageNumber": null,
                      "importVoyageNumber": null,
                      "unLocationCode": "CNSHA",
                      "facilityCode": null,
                      "facilityCodeListProvider": null,
                      "facilityTypeCode": "POTE",
                      "otherFacility": null,
                      "modeOfTransport": "TRUCK",
                      "vessel": null
                    },
                    "documentReferences": [
                      {
                        "documentReferenceType": "BKG",
                        "documentReferenceValue": "177XXXXXXX12345"
                      },
                      {
                        "documentReferenceType": "TRD",
                        "documentReferenceValue": "MEDUXX123456"
                      }
                    ],
                    "eventLocation": {
                      "locationName": "SHANGHAI",
                      "latitude": null,
                      "longitude": null,
                      "unLocationCode": "CNSHA",
                      "facilityCode": null,
                      "facilityCodeListProvider": null,
                      "address": null
                    },
                    "seals": [
                      {
                        "sealNumber": "FX12345678",
                        "sealSource": "CAR"
                      }
                    ],
                    "description": "Export received at CY",
                    "eventId": "1073821792",
                    "eventDateTime": "2022-11-06T11:59:00.0000000+00:00",
                    "eventClassifierCode": "ACT",
                    "eventCreatedDateTime": "2022-11-06T11:59:00.0000000+00:00",
                    "references": []
                  },
                  {
                    "eventType": "EQUIPMENT",
                    "equipmentEventTypeCode": "GTOT",
                    "equipmentReference": "MSCU1234569",
                    "ISOEquipmentCode": "4310",
                    "emptyIndicatorCode": "EMPTY",
                    "transportCall": {
                      "transportCallID": "CNSHATRB",
                      "carrierServiceCode": null,
                      "exportVoyageNumber": null,
                      "importVoyageNumber": null,
                      "unLocationCode": "CNSHA",
                      "facilityCode": null,
                      "facilityCodeListProvider": null,
                      "facilityTypeCode": "POTE",
                      "otherFacility": null,
                      "modeOfTransport": "TRUCK",
                      "vessel": null
                    },
                    "documentReferences": [
                      {
                        "documentReferenceType": "BKG",
                        "documentReferenceValue": "177XXXXXXX12345"
                      },
                      {
                        "documentReferenceType": "TRD",
                        "documentReferenceValue": "MEDUXX123456"
                      }
                    ],
                    "eventLocation": {
                      "locationName": "SHANGHAI",
                      "latitude": null,
                      "longitude": null,
                      "unLocationCode": "CNSHA",
                      "facilityCode": null,
                      "facilityCodeListProvider": null,
                      "address": null
                    },
                    "description": "Empty to Shipper",
                    "eventId": "1069516818",
                    "eventDateTime": "2022-10-28T01:38:00.0000000+00:00",
                    "eventClassifierCode": "ACT",
                    "eventCreatedDateTime": "2022-10-28T01:38:00.0000000+00:00",
                    "references": []
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": {
                  "httpMethod": "string",
                  "requestUri": "string",
                  "errors": [
                    {
                      "reason": "string",
                      "message": "string"
                    }
                  ],
                  "statusCode": 0,
                  "statusCodeText": "string",
                  "errorDateTime": "string"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": {
                  "httpMethod": "string",
                  "requestUri": "string",
                  "errors": [
                    {
                      "reason": "string",
                      "message": "string"
                    }
                  ],
                  "statusCode": 0,
                  "statusCodeText": "string",
                  "errorDateTime": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": {
                  "httpMethod": "string",
                  "requestUri": "string",
                  "errors": [
                    {
                      "reason": "string",
                      "message": "string"
                    }
                  ],
                  "statusCode": 0,
                  "statusCodeText": "string",
                  "errorDateTime": "string"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                },
                "example": {
                  "httpMethod": "string",
                  "requestUri": "string",
                  "errors": [
                    {
                      "reason": "string",
                      "message": "string"
                    }
                  ],
                  "statusCode": 0,
                  "statusCodeText": "string",
                  "errorDateTime": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Vessel": {
        "required": [
          "vesselIMONumber"
        ],
        "type": "object",
        "properties": {
          "vesselIMONumber": {
            "type": "string",
            "description": "The unique reference for a registered Vessel from IMO",
            "example": ""
          },
          "vesselName": {
            "type": "string",
            "description": "",
            "example": ""
          },
          "vesselFlag": {
            "type": "string",
            "description": "ISO 3166 two-letter country code",
            "example": ""
          },
          "vesselCallSignNumber": {
            "type": "string",
            "description": "A unique alphanumeric identity that belongs to the vessel and is assigned by ITU",
            "example": ""
          },
          "vesselOperatorCarrierCode": {
            "type": "string",
            "description": "SCAC code, the NMFTA identifier for the Carrier (\"MEDU\" is MSC) or SMDG code",
            "example": ""
          },
          "vesselOperatorCarrierCodeList": {
            "type": "string",
            "description": "List of Values: NMFTA, SMDG",
            "example": ""
          }
        },
        "description": "The transport event entity is a specialization of the event entity to support specification of data that only applies to a transport event"
      },
      "TransportEvent": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Event"
          },
          {}
        ],
        "properties": {
          "eventType": {
            "type": "string",
            "description": "The Event Type of the object",
            "example": "TRANSPORT"
          },
          "transportEventTypeCode": {
            "type": "string",
            "description": ""
          },
          "transportCall": {
            "$ref": "#/components/schemas/TransportCall"
          },
          "documentReferences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentReference"
            },
            "description": "DocumentReferences"
          },
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/reference"
            },
            "description": "References"
          }
        },
        "description": "The transport event entity is a specialization of the event entity to support specification of data that only applies to a transport event"
      },
      "ShipmentEvent": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Event"
          },
          {}
        ],
        "properties": {
          "eventType": {
            "type": "string",
            "description": "The Event Type of the object",
            "example": "SHIPMENT"
          },
          "shipmentEventTypeCode": {
            "type": "string",
            "description": "",
            "example": "APPR"
          },
          "documentID": {
            "type": "string",
            "description": "",
            "example": ""
          },
          "documentTypeCode": {
            "type": "string",
            "description": "",
            "example": "BKG"
          },
          "reason": {
            "type": "string",
            "description": "",
            "example": ""
          },
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/reference"
            },
            "description": "References"
          }
        },
        "description": "Abstract class for event.\r\nhttps://app.swaggerhub.com/apis/dcsaorg/DCSA_TNT/2.2.0#/event"
      },
      "EquipmentEvent": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Event"
          },
          {}
        ],
        "properties": {
          "eventType": {
            "type": "string",
            "description": "The Event Type of the object",
            "example": "EQUIPMENT"
          },
          "equipmentEventTypeCode": {
            "type": "string",
            "description": "Unique identifier for Event Type Code for Equipment",
            "example": "GTIN"
          },
          "equipmentReference": {
            "type": "string",
            "description": "The unique identifier for the equipment, which should follow the BIC ISO Container Identification Number where possible.\r\nIf a container is not yet assigned to a shipment, the interface cannot return any information when an equipment reference is given as input.\r\nIf a container is assigned to an (active) shipment, the interface returns information on the active shipment",
            "example": "MEDU1794130"
          },
          "ISOEquipmentCode": {
            "type": "string",
            "description": "",
            "example": ""
          },
          "emptyIndicatorCode": {
            "type": "string",
            "description": "Code to denote whether the equipment is empty or laden",
            "example": "LADEN"
          },
          "transportCall": {
            "$ref": "#/components/schemas/TransportCall"
          },
          "documentReferences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentReference"
            },
            "description": "DocumentReferences"
          },
          "eventLocation": {
            "$ref": "#/components/schemas/EventLocation"
          },
          "seals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/seal"
            },
            "description": "Seals"
          },
          "references": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/reference"
            },
            "description": "References"
          }
        },
        "description": "The equipment event entity is a specialization of the event entity to support specification of data that only applies to an equipment event"
      },
      "EventType": {
        "type": "array",
        "items": {
          "enum": [
            "SHIPMENT",
            "TRANSPORT",
            "EQUIPMENT"
          ],
          "type": "string"
        },
        "description": "List of eventType.\n\nPossible values are\n- SHIPMENT (Shipment events)\n- TRANSPORT (Transport events)\n- EQUIPMENT (Equipment events)\n",
        "example": [
          "TRANSPORT",
          "EQUIPMENT"
        ]
      },
      "EventLocation": {
        "type": "object",
        "properties": {
          "locationName": {
            "type": "string",
            "description": "Location name : ActivityLocationName EME prop"
          },
          "latitude": {
            "type": "string",
            "description": "Latitude"
          },
          "longitude": {
            "type": "string",
            "description": "Longtitude"
          },
          "unLocationCode": {
            "type": "string",
            "description": "Unlocation code"
          },
          "facilityCode": {
            "type": "string",
            "description": "Facility code"
          },
          "facilityCodeListProvider": {
            "type": "string",
            "description": "Facility Code List provider string"
          },
          "address": {
            "type": "string",
            "description": "Event Address"
          }
        }
      },
      "TransportCall": {
        "required": [
          "modeOfTransport",
          "transportCallID"
        ],
        "type": "object",
        "properties": {
          "transportCallID": {
            "type": "string",
            "description": "The unique identifier for a transport call (PK)",
            "example": ""
          },
          "carrierServiceCode": {
            "type": "string",
            "description": "The code of the service for which the schedule details are published.\r\nThe vessel operator-specific identifier of the Voyage.\r\nIn case there are multiple voyages the export voyage is chosen",
            "example": ""
          },
          "exportVoyageNumber": {
            "type": "string",
            "description": "The vessel operator-specific identifier of the export Voyage",
            "example": ""
          },
          "importVoyageNumber": {
            "type": "string",
            "description": "The vessel operator-specific identifier of the import Voyage",
            "example": ""
          },
          "unLocationCode": {
            "type": "string",
            "description": "Transport operator's key that uniquely identifies each individual call. \r\nThis key is essential to distinguish between two separate calls at the same location within one voyage",
            "example": ""
          },
          "facilityCode": {
            "type": "string",
            "description": "The code used for identifying the specific facility",
            "example": "AEAUHADT"
          },
          "facilityCodeListProvider": {
            "type": "string",
            "description": "The provider used for identifying the facility Code. List of Values: SMDG, BIC",
            "example": ""
          },
          "facilityTypeCode": {
            "type": "string",
            "description": "The code to identify the specific type of facility",
            "example": ""
          },
          "otherFacility": {
            "type": "string",
            "description": "An alternative way to capture the facility when no standardized DCSA facility code can be found",
            "example": "Depot location or address"
          },
          "modeOfTransport": {
            "type": "string",
            "description": "A code specifying a type of transport mode",
            "example": ""
          },
          "vessel": {
            "$ref": "#/components/schemas/Vessel"
          }
        },
        "description": "The transport event entity is a specialization of the event entity to support specification of data that only applies to a transport event"
      },
      "Event": {
        "required": [
          "eventClassifierCode",
          "eventCreatedDateTime",
          "eventDateTime",
          "eventId",
          "eventType"
        ],
        "type": "object",
        "properties": {
          "eventType": {
            "type": "string",
            "description": "The Event Type of the object",
            "example": "EQUIPMENT, SHIPMENT, TRANSPORT"
          },
          "description": {
            "type": "string",
            "description": "The event entity is described as a generalization of all the specific event categories. \r\nAn event always takes place in relation to a shipment and can additionally be linked to a transport or an equipment"
          },
          "eventId": {
            "type": "string",
            "description": "The unique identifier for the Equipment Event ID/Transport Event ID/Shipment Event ID",
            "example": "1"
          },
          "eventDateTime": {
            "type": "string",
            "description": "The local date and time, where the event took place, in ISO 8601 format.\r\nBy default, it will be already serialized using the expected format: \"2019-11-12T07:41:00+08:30\" \r\nhttps://app.swaggerhub.com/apis/dcsaorg/DCSA_TNT/2.2.0#/eventDateTime",
            "format": "date-time",
            "example": "2019-11-12T07:41:00.0000000+00:00"
          },
          "eventClassifierCode": {
            "type": "string",
            "description": "Code for the event classifier can be\r\n<br>ACT (Actual)</br><br>EST(Estimated)</br><br>Enum:<br>[ ACT (Actual), EST (Estimate) ]</br>",
            "example": "EST"
          },
          "eventCreatedDateTime": {
            "type": "string",
            "description": "The local date and time, where the event took place, in ISO 8601 format.\r\nBy default, it will be already serialized using the expected format: \"2019-11-12T07:41:00+08:30\" \r\nhttps://app.swaggerhub.com/apis/dcsaorg/DCSA_TNT/2.2.0#/eventDateTime",
            "format": "date-time",
            "example": "2019-11-12T07:41:00.0000000+00:00"
          }
        },
        "description": "Abstract class for event.\r\nhttps://app.swaggerhub.com/apis/dcsaorg/DCSA_TNT/2.2.0#/event"
      },
      "error": {
        "type": "object",
        "properties": {
          "httpMethod": {
            "type": "string",
            "description": "Gets or sets the HTTP method"
          },
          "requestUri": {
            "type": "string",
            "description": "Gets or sets the request URI",
            "format": "uri"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/errors"
            },
            "description": "Gets or sets the errors"
          },
          "statusCode": {
            "type": "integer",
            "description": "Gets or sets the status code",
            "format": "int32"
          },
          "statusCodeText": {
            "type": "string",
            "description": "Gets or sets the status code text"
          },
          "errorDateTime": {
            "type": "string",
            "description": "Gets or sets the error date time",
            "format": "date-time"
          }
        },
        "description": "see: https://app.swaggerhub.com/apis/dcsaorg/DCSA_TNT/2.2.0#/error"
      },
      "DocumentReference": {
        "type": "object",
        "properties": {
          "documentReferenceType": {
            "type": "string",
            "description": "Describes where the documentReferenceValue is pointing to\r\n<br>Enum:<br>[ BKG (Booking), TRD (TransportDocument - Bill of Lading) ]</br>",
            "example": "BKG"
          },
          "documentReferenceValue": {
            "type": "string",
            "description": "The value of the identifier the documentReferenceType is describing",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        },
        "description": "An optional list of key-value (documentReferenceType-documentReferenceValue) pairs representing links to objects relevant to the event.\r\nThe documentReferenceType-field is used to describe where the documentReferenceValue-field is pointing to"
      },
      "reference": {
        "required": [
          "referenceType",
          "referenceValue"
        ],
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "referenceType": {
                "$ref": "#/components/schemas/referenceType"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "referenceValue": {
                "$ref": "#/components/schemas/referenceValue"
              }
            }
          }
        ],
        "description": "references provided by the shipper or freight forwarder at the time of booking or at the time of providing shipping instruction. Carriers share it back when providing track and trace event updates, some are also printed on the B/L. Customers can use these references to track shipments in their internal systems.\n"
      },
      "referenceType": {
        "enum": [
          "FF",
          "SI",
          "PO",
          "CR",
          "AAO",
          "EQ"
        ],
        "type": "string",
        "description": "The reference type codes defined by DCSA.\n- FF (Freight Forwarder’s Reference)\n- SI (Shipper’s Reference)\n- PO (Purchase Order Reference)\n- CR (Customer’s Reference)\n- AAO (Consignee’s Reference)\n- EQ (Equipment Reference)\n",
        "example": "EQ"
      },
      "referenceValue": {
        "maxLength": 100,
        "type": "string",
        "description": "The actual value of the reference."
      },
      "seal": {
        "required": [
          "sealNumber",
          "sealSource"
        ],
        "type": "object",
        "allOf": [
          {
            "type": "object",
            "properties": {
              "sealNumber": {
                "$ref": "#/components/schemas/sealNumber"
              }
            }
          },
          {
            "type": "object",
            "properties": {
              "sealSource": {
                "$ref": "#/components/schemas/sealSource"
              }
            }
          }
        ],
        "description": "addresses the seal-related information associated with the shipment equipment. A seal is put on a shipment equipment once it is loaded."
      },
      "sealNumber": {
        "maxLength": 15,
        "type": "string",
        "description": "Identifies a seal affixed to the container."
      },
      "sealSource": {
        "enum": [
          "CAR",
          "CST",
          "SHI",
          "TER",
          "VNT",
          "CUS"
        ],
        "type": "string",
        "description": "The source of the seal, namely who has affixed the seal (Carrier, Customer, Shipper, Terminal, Vents, Customs)",
        "example": "CUS"
      },
      "errors": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "description": "Gets or sets the reason"
          },
          "message": {
            "type": "string",
            "description": "Gets or sets the message"
          }
        },
        "description": "see: https://app.swaggerhub.com/apis/dcsaorg/DCSA_TNT/2.2.0#/error"
      },
      "events": {
        "required": [
          "events"
        ],
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "description": "Abstract class for event.\r\nhttps://app.swaggerhub.com/apis/dcsaorg/DCSA_TNT/2.2.0#/event"
            },
            "description": "Gets or sets the events"
          }
        },
        "description": "List of events for shipment journey"
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ]
}